.error-page-container {
    display: flex;
    /* align-items: center; */
    padding-bottom: 30px;
}

.error-page img {
    width: 300px;
    padding-top: 40px;
}

.error-title {
    color: rgb(40, 180, 114);
    font-weight: bold;
    font-size: 100px;
}

.error-par {
    padding-bottom: 25px;
    font-size: 25px;
}

.back-home {
    background-color: rgb(40, 180, 114);
    color: white;
    padding: 15px 25px;
    border-style: none;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
}

.go-to-home{
    color: white;
    text-decoration: none;
}