.our-mission {
    position: relative;
    margin: 0 250px;
    text-align: center;
}

.our-mission img {
    width: 1000px;
    width: 797px;
    padding: 20px 0 30px 0;
}

.our-mission-heading{
    position: absolute;
    top: 70px;
    left: 320px;
}

.our-mission-text{
    position: absolute;
    width: 500px;
    top: 150px;
    left: 180px;
}