.book-details-container {
    padding: 20px 50px;
}

.book-details {
    display: flex;
    gap: 50px;
    border: 1px solid rgb(40, 180, 114);
    border-radius: 15px;
    padding: 30px;
    
}


.book-details img {
    width: 350px;
    height: 50px;
    padding-bottom: 10px;
}

.book-details p span {
    font-weight: bold;
    color: rgb(40, 180, 114);
}

.book-details p {
    padding-bottom: 5px;
}

.book-title {
    color: rgb(40, 180, 114);
    font-weight: bold;
    font-size: 30px;
}

.btn-container {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    gap: 30px;
    margin: 0 auto;
}

.btn {
    background-color: rgb(40, 180, 114);
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 15px;
}

.edit-book {
    padding: 8px 25px;
    background-color: rgb(40, 180, 114);
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 15px;
}

.del-book {
    padding: 8px 20px;
    background-color: rgb(40, 180, 114);
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 15px;
}