.site-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px 0 30px;
}

.site-nav ul {
    display: flex;
    gap: 5px;
}

.site-nav img {
    width: 150px;
}

/* .site-nav ul li {
    background-color: rgb(40, 180, 114);
    color: white;
    cursor: pointer;
    list-style: none;
    padding: 10px 15px;
    font-weight: bold;
    text-decoration: none;
} */

.nav-link {
    background-color: rgb(40, 180, 114);
    color: white;
    cursor: pointer;
    list-style: none;
    padding: 10px 15px;
    font-weight: bold;
    text-decoration: none;
}


